<%- include("partials/header") %>
<div class="centered">
  <p class="display-3">Aw Man!</p>
  <br>
  <h2 class="display-5">It looks like your username or password is wrong!</h2>
  <br>
  <p class="lead"><a href="/register">Register Now!</a></p>
  <p class="lead"><a href="/login">Try Again</a></p>
</div>
<%- include("partials/footer") %>
