<%- include('partials/header') %>
<div class="jumbotron left">
<h1>How it works</h1>
<br>
<ol>
    <li>
        <p>First, you register.</p>
    </li>
    <li>
        <p>Second, when you reach the secrets page, you add a secret.</p>
    </li>
    <li>
        <p>Third and last, everyone views the secret but NEVER sees any of your details.</p>
    </li>
</ol>
</div>
<%- include('partials/footer') %>